* {
    box-sizing:border-box;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color:#fff;
    font-size: 30px;    
}

header {
    margin-top: 20px;
}

#scores-btn {
    margin-left: 20px;
    position: left; 
    float:left;  
    color:#AC4FC6;
    text-decoration: none;
}

#timer {
    position:right;
    margin-right: 20px;
    float:right;
}

#topic {
    margin-top: 100px;
    font-size: 200%;
    text-align: center;
    margin-bottom: 10px;
}

#container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#content {
    margin-bottom: 20px;
    padding: 10px 10px;
    margin-top: 0;
    text-align: center;
}

#start-btn {
    display: flex;
    margin-top: 20px;
    border-style: none;
    border-radius: 12px;
    width:200px;
    margin: 0 auto;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 30px;
    background-color:#310062;
    align-items: center;
    justify-content: center;
}

#start-btn:hover {
    background-color: #AC4FC6;
    cursor:pointer;
}
/* responsive design view, adjust font and screen better, once its on a smaller screen for better view on different device/screen size*/
@media screen and (max-width:520px){
    #topic {justify-content:center; margin-top: 15px;}
    #start-btn {width:50%;}
   #scores-btn, #timer, #topic, #container, #content, #start-btn {font-size: 10px; display:flex}
}
    

